.customer-page {
  font-family: "Segoe UI", sans-serif;
  background-color: #f7f7f7;
  min-height: 100vh;
  padding: 20px;
}

.main-content {
  display: flex;
  gap: 24px;
}

.filter-wrapper {
  width: 250px;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.products-section {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}


.filter-toggle {
  display: none;
  text-align: center;
  margin-bottom: 15px;
}

.filter-toggle button {
  background-color: #222;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .main-content {
    flex-direction: column;
  }

  .filter-wrapper {
    width: 100%;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
  }

  .filter-wrapper.collapsed {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
  }

  .filter-wrapper.open {
    max-height: 1000px;
    opacity: 1;
  }

  .filter-toggle {
    display: block;
  }

  .products-section {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  .main-content {
    overflow-x: hidden;
  }

  .products-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  .products-section > * {
    min-width: 0;
    max-width: 100%;
  }
}
